:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(27, 38, 54, 1);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("./Inter-Medium.ttf") format("truetype");
}

h3 {
    font-size: 3em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

.result {
    height: 20px;
    line-height: 20px;
}

body {
    margin: 0;
    min-height: 100vh;

    display: grid;

    grid-template-rows: auto 1fr;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #003566;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: black;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

table {
    font-size: small;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0 20px;
}

th,
.el {
    margin: 3px;
    padding-left: 20px;
    text-align: left;
    border-left: dashed rgba(119, 141, 169, 30%) 3px;
}

tr {
    border-radius: 20px;
}

.first,
th:first-child {
    border-left: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.last,
th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

tr:nth-child(even) .el {
    background-color: #e9ecef;
}

tr:nth-child(odd) .el {
    background-color: #dee2e6;
}

tr:last-child {
    background: none;
}

th {
    background-color: #f8f9fa;
    cursor: pointer;
}
